<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A MERIT Example{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/newUser">New User</a>
            <a href="/getUser">Get User</a>
            <a href="/about">About</a>
        </div>
        <div class="bodyContent">
            <h1>
                Hello from your MERIT mentors!
            </h1>
            {% block form %} {% endblock %}
            {% block userList %}
            <div id="user_list">
            {% for user in users %}
                <h2>
                  {{ user.fname }} {{ user.lname }}
                </h2>
                <p>
                  <b>City</b>: {{ user.city }}
                </p>
            {% endfor %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>