<!-- 
    This is an example of template inheritance.
    This extends from the index.html template and uses that as a base. 
    The title block is being overridden here.
    The form block is being given a value here.
-->

{% extends 'index.html' %}

{% block title %}New User Submission{% endblock %}
{% block form %}
{% if status %}
  <h1>{{ status }}</h1>
{% endif %}
<h2>
    Submit your information!
</h2>
<form method="post" action="/newUser">
    <p>First Name: <input type="text" name="fname"></p>
    <p>Last Name: <input type="text" name="lname"></p>
    <p>City: <input type="text" name="city"></p>
    <p><input type="submit"></p>
</form>
{% endblock %}